extends layout

block content
  h2
    a(href='#', class='show-pic button') Show Pic
  h2
    a(href='#', class='show-text button') Show Text
  h2
    a(href='#', class='show-match button') Show Match
  h2
    a(href='#', class='start-match button') Start Match
  h2
    a(href='#', class='stop-match button') Stop Match
  h2
    a(href='#', class='reset-screen button') RESET SCREEN
  script(src='/javascripts/control.js')