extends layout

block content
  div(id='wrapper1920')
    div(id='wrapper')
      div(id='hammerWrapper')
        img(src='/images/outrage.png', class='img-center')
        img(src='/images/high_striker1.png', class='high-striker')
        div(class='panel0')
        div(class='panel1')
        div(class='panel2')
        div(class='panel3')
        div(class='panel4')
      div(id='teamWrapper')
        img(src='/images/team.gif', width="1000")
      div(id='textWrapper')
        h1(class='xxxl-text') Outrage Machine
        h1(class='xxl-text') Outrage Machine
        h1(class='xl-text') Outrage Machine
        h2(class='l-text') Outrage Machine
        h3(class='m-text') Outrage Machine
        h4(class='s-text') Outrage Machine
        h5(class='xs-text') Outrage Machine
        p(class='xxs-text') Outrage Machine
      div(id='tickerWrapper')
        img(src='/images/pic1.jpg', class='ticker-img pic1')
        img(src='/images/pic2.jpg', class='ticker-img pic2')
      div(id='matchWrapper')
        img(src='/images/war.png', class='war-img')
        h5(class='vs') vs
        h4(class='cyrus-score') 0
        h4(class='bieber-score') 0
        img(src='/images/bieber.png', class='bieber-img match-img')
        img(src='/images/trump.png', class='cyrus-img match-img')
      div(id='teamMatchWrapper')
        img(src='/images/war.png', class='war-img')
        h4(class='aj-score') 0
        h4(class='reb-score') 0
        h4(class='abhi-score') 0
        img(src='/images/aj.png', class='aj-img match-img')
        img(src='/images/reb.png', class='reb-img match-img')
        img(src='/images/abhi.png', class='abhi-img match-img')
  script(src="/javascripts/hammer.js")