extends layout

block content
  div(id='wrapper')
    div(id='hammerWrapper')
      <!--img(src='/images/outrage.png', width='1000', class='img-center')-->
      img(src='/images/high_striker.png', class='high-striker')
      div(class='one')
      div(class='two')
      div(class='three')
      div(class='four')