extends layout

block content
  div(id='wrapper')
    div(id='matchWrapper')
      h4(class='cyrus-score') 0
      h4(class='bieber-score') 0
      img(src='/images/bieber.png', class='bieber-img match-img')
      img(src='/images/redcup.png', class='cyrus-img match-img')
  script(src='/javascripts/match.js')