body {
  margin: 0;
  font: 14px Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.button {
	text-align: center;
	display: block;
	padding: 20px 50px;
	background: #f05a28;
	border:1px solid #d85124;
	color: #fff;
	text-decoration: none;
}

.button:active {
	background: #d85124;
	text-decoration: none;
}

#wrapper1920{
	width: 1920px;
	height:1080px;
	background: black;
	margin-left: auto;
	margin-right:auto;
}

#wrapper {
	margin-left: auto;
	margin-right: auto;
}

#wrapper, #hammerWrapper, #matchWrapper, #tickerWrapper {
	background: yellow;
	width: 868px;
	height:1080px;
	overflow: hidden;
	position: relative;
}

#teamWrapper {
	width: 1176px;
	height:1464px;
	overflow: hidden;
	position: relative;
	display: none;
	background: white;
}

#hammerWrapper {
	background: url('../images/screen_dimensions.png') no-repeat center;
}

#textWrapper{
	text-align: center;
}

#matchWrapper {
	display: none;
	background: url('../images/yellow_bg.jpg') no-repeat center;
}

.img-center {
	display: block;
	margin-right: auto;
	margin-left: auto;
}

/***** HIGH STRIKER WRAPPER *******/

.high-striker {
	position: absolute;
	top: 0;
	left: 0;
	z-index:10;
	display: none;
}

.panel0, .panel1, .panel2, .panel3, .panel4 {
	position: absolute;
	height:185px;
	width:185px;
	left:350px;
	background: #fff;
	display: none;
}

.panel4 {
	top:185px;
	/*background: #ed1c24;*/
}

.panel3 {
	top:370px;
	/*background: #f16b2b;*/
}

.panel2 {
	top:555px;
	/*background: #f7941e;*/
}

.panel1 {
	top:740px;
	/*background: #fbb040;*/
}

.panel0 {
	display: none;
}

/******* TEXT WRAPPER ********/

.xxxl-text, .xxl-text, .xl-text, .l-text, .m-text, .s-text, .xs-text, .xxs-text {
	margin: 0;
	margin-bottom: 15px;
}

.xxxl-text{
	font-size: 150px;
}

.xxl-text {
	font-size: 125px;
}

.xl-text {
	font-size: 90px;
}

.l-text {
	font-size: 72px;
}

.m-text {
	font-size: 48px;
}

.s-text {
	font-size: 36px;
}

.xs-text {
	font-size: 24px;
}

.xxs-text {
	font-size: 14px;
}

/******* TICKER *******/

.ticker-img {
	position: absolute;
	top:0;
	left:0;
}

.pic1, .pic2 {
	display: none
}

/****** MATCH *******/

.war-img {
	position: absolute;
	top:0px;
	left:0px;
}

.vs {
	position: absolute;
	top: 430px;
	left: 420px;
	font-size: 36px;
	text-align: center;
	font-family: 'Slackey', 'Helvetica Neue','Arial',sans-serif;
}

h4, h5 {
	margin: 0;
}

.match-img {
	position: absolute;
	bottom: 0;
}

.bieber-img {
	right: 0;
	width: 460px;
	-webkit-filter: drop-shadow(10px 10px 3px rgba(0,0,0,0.5));
    filter: url(#drop-shadow);
    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=10, OffY=-10, Color='#444')";
    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=10, OffY=-10, Color='#444')";
}

.cyrus-img {
	left:0;
	width: 460px;
	-webkit-filter: drop-shadow(10px 10px 3px rgba(0,0,0,0.5));
    filter: url(#drop-shadow);
    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=-10, OffY=10, Color='#444')";
    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=-10, OffY=10, Color='#444')";
}

.cyrus-score, .bieber-score {
	font-family: 'Slackey', 'Helvetica Neue','Arial',sans-serif; 
	position: absolute;
	font-size: 125px;
	font-weight: bold;
	text-align: center;
	top: 370px;
}

.cyrus-score {
	left: 190px;
}
.bieber-score {
	right: 190px;
}
