body {
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#wrapper, #hammerWrapper {
	background: yellow;
	width: 1176px;
	height:1464px;
	overflow: hidden;
	position: relative;
}

#teamWrapper {
	width: 1176px;
	height:1464px;
	overflow: hidden;
	position: relative;
	display: none;
	background: white;
}

#hammerWrapper {
	background: url('../images/screen_dimensions.png')
}

.img-center {
	display: block;
	margin-right: auto;
	margin-left: auto;
}


.high-striker {
	position: absolute;
	top: 40px;
	left: 290px;
	z-index:10;
	display: none;
}

.panel0, .panel1, .panel2, .panel3, .panel4 {
	position: absolute;
	height:245px;
	width:280px;
	left:400px;
	background: #fff;
	display: none;
}

.panel4 {
	top:240px;
	/*background: #ed1c24;*/
}

.panel3 {
	top:490px;
	/*background: #f16b2b;*/
}

.panel2 {
	top:735px;
	/*background: #f7941e;*/
}

.panel1 {
	top:985px;
	/*background: #fbb040;*/
}

.panel0 {
	display: none;
}
