body {
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#wrapper, #hammerWrapper, #matchWrapper {
	background: yellow;
	width: 1176px;
	height:1464px;
	overflow: hidden;
	position: relative;
}

#teamWrapper {
	width: 1176px;
	height:1464px;
	overflow: hidden;
	position: relative;
	display: none;
	background: white;
}

#hammerWrapper {
	background: url('../images/screen_dimensions.png')
}

.img-center {
	display: block;
	margin-right: auto;
	margin-left: auto;
}


.high-striker {
	position: absolute;
	top: 40px;
	left: 290px;
	z-index:10;
	display: none;
}

.panel0, .panel1, .panel2, .panel3, .panel4 {
	position: absolute;
	height:245px;
	width:280px;
	left:400px;
	background: #fff;
	display: none;
}

.panel4 {
	top:240px;
	/*background: #ed1c24;*/
}

.panel3 {
	top:490px;
	/*background: #f16b2b;*/
}

.panel2 {
	top:735px;
	/*background: #f7941e;*/
}

.panel1 {
	top:985px;
	/*background: #fbb040;*/
}

.panel0 {
	display: none;
}


/****** MATCH *******/

.match-img {
	position: absolute;
	bottom: 0;
}

.bieber-img {
	right: 0;
	width: 600px;
	-webkit-filter: drop-shadow(10px 10px 3px rgba(0,0,0,0.5));
    filter: url(#drop-shadow);
    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=10, OffY=-10, Color='#444')";
    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=10, OffY=-10, Color='#444')";
}

.cyrus-img {
	left:0;
	width: 600px;
	-webkit-filter: drop-shadow(10px 10px 3px rgba(0,0,0,0.5));
    filter: url(#drop-shadow);
    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=-10, OffY=10, Color='#444')";
    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=-10, OffY=10, Color='#444')";
}

.cyrus-score, .bieber-score {
	position: absolute;
	font-size: 150px;
	font-weight: bold;
	text-align: center;
	top: 300px;
}

.cyrus-score {
	left: 250px;
}
.bieber-score {
	right: 250px;
}
